/*!
 * events calendar styles
 * @author Peter Edwards <bjorsq@gmail.com>
 * @version 1.2
 * @package EventPostType_Plugin
 */
#eventsCalendar {
  position: relative;
  float: right;
  width: 240px;
}
#eventsCalendar table.eventsCalendar {
  border: 1px solid #cccccc;
  width: 100%;
  background: #ffffff;
  border-collapse: separate;
  border-spacing: 2px;
}
#eventsCalendar table.eventsCalendar th {
  border: none;
  background: #ffffff;
  color: #333333;
  font-weight: bold;
  padding: 3px 0;
  text-align: center;
}
#eventsCalendar table.eventsCalendar td {
  background: #ffffff;
  color: #000000;
  padding: 3px 0;
  font-size: 12px;
  text-align: center;
  border: 2px solid #ffffff;
}
#eventsCalendar table.eventsCalendar td.ec-hover {
  border-color: #cccccc;
}
#eventsCalendar table.eventsCalendar td.today {
  border-color: #cccccc;
}
#eventsCalendar table.eventsCalendar td.event {
  border-color: #008a10;
  cursor: pointer;
}
#eventsCalendar table.eventsCalendar td.other-month,
#eventsCalendar table.eventsCalendar td.other-month:hover,
#eventsCalendar table.eventsCalendar td.other-month.ec-hover {
  background: #eeeeee;
  color: #aaaaaa;
  border-color: #eeeeee;
}
#eventsCalendar table.eventsCalendar td.disabled,
#eventsCalendar table.eventsCalendar td.disabled.ec-hover,
#eventsCalendar table.eventsCalendar td.unselectable,
#eventsCalendar table.eventsCalendar td.unselectable:hover,
#eventsCalendar table.eventsCalendar td.unselectable.ec-hover {
  background: #bbbbbb;
  color: #888888;
}
#eventsCalendar table.eventsCalendar tr {
  border: none;
}
#ec-info {
  border: 2px solid #008a10;
  position: absolute;
  display: none;
  z-index: 201;
  background: #ffffff;
}
#ec-info ul {
  list-style: none;
}
.ec-container {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  font-family: arial, sans-serif;
  padding-top: 4px;
  max-width: 240px;
  line-height: 1.2em;
  background: #eeeeee;
}
.ec-container h4 {
  font-size: 12px;
  text-align: center;
  margin: 2px 0;
  padding: 0;
}
.ec-container a {
  color: #000000;
  text-decoration: none;
  padding: 3px 2px 0;
}
.ec-container a.disabled {
  cursor: default;
  color: #bbbbbb;
}
.ec-container .ec-nav {
  display: none;
}
.ec-container .ec-nav-prev {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 40%;
}
.ec-container .ec-nav-prev a {
  float: left;
}
.ec-container .ec-nav-next {
  position: absolute;
  top: 2px;
  right: 4px;
  width: 40%;
}
.ec-container .ec-nav-next a {
  float: right;
}
.tooltip {
  position: absolute;
  z-index: 202;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cccccc;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #cccccc;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #cccccc;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #cccccc;
}
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-inner h3 {
  font-size: 13px;
  font-weight: bold;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.events-search-bar {
  width: 100%;
  background: #eeeeee;
}
.events-search-bar .current-term {
  font-weight: bold;
}
.events-search-bar .event-filter {
  position: relative;
  background: #eeeeee;
  padding: .5em 1%;
  width: 35%;
  float: left;
}
.events-search-bar .event-filter p {
  margin: 0;
}
.events-search-bar .event-filtered {
  position: relative;
  background: #eeeeee;
  padding: .5em 1%;
  width: 70%;
  float: left;
}
.events-search-bar .event-filtered p {
  margin: 0;
}
.events-search-bar .event-search {
  background: #eeeeee;
  float: right;
  width: 20%;
}
.events-search-bar .event-search input {
  margin-top: .5em;
}
.events-search-bar .event-search input.searchinput {
  float: left;
  width: 70%;
}
.events-search-bar .event-search input.searchsubmit {
  float: right;
  width: 25%;
}
.js .events-search-bar .event-taxonomy-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  top: 2.5em;
  z-index: 1000;
  left: 0;
  display: none;
}
.js .events-search-bar .event-taxonomy-list a {
  display: block;
  padding: 3px 6px;
}
.js .events-search-bar .event-taxonomy-list a:hover {
  background: #eeeeee;
}
